@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Light background */
  --foreground: #171717; /* Dark text */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; /* Dark background */
    --foreground: #ededed; /* Light text */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Define custom pulse animation */
@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

/* Custom class for pulse animation */
.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

/* Loading bar styling */
.loading-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px; /* Adjust height as per your needs */
  background-color: #3b82f6; /* Blue color */
}
